* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;

}

.btn-primary {
    background-color: #30b868;
    color: #fff;
}

.btn-primary:hover {
    background-color: #43a047;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    margin-left: 15px;
}

.btn-secondary:hover {
    border-color: white;
}

.navbar {
    padding: 15px 0;
    background-color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.nav-btn {
    padding: 10px 24px;
}

.banner {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0 120px;
    text-align: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pill {
    background-color: #FFFFFF26;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
}

.banner h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}

.highlight {
    color: #30B868;
}

.banner-text {
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 40px;
    color: white;
}

.early-access-section {
    padding: 100px 0;
    text-align: center;
    background-color: white;
}

.header {
    max-width: 700px;
    margin: 0 auto 70px;
}

.header h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: black;
}

.header p {
    font-size: 18px;
    color: #555555;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    max-width: 200px;
}

.icon {
    width: 70px;
    height: 70px;
    background: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}

.card p {
    font-size: 15px;
    color: #666666;
}

.second-brain-section {
    padding: 100px 0;
    background-color: white;
}

.second-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.img {
    flex: 1 1 auto;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
}

.title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #30B868;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.content h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #001931;
}

.text {
    font-size: 17px;
    color: #627382;
    margin-bottom: 30px;
}

.feature-list {
    list-style: none;
}

.feature-list li {
    margin-bottom: 15px;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
}

.last {
    padding: 100px 0 120px;
    background-color: #F7F6F2;
    text-align: center;
}

.last h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
}

.;last p {
    font-size: 18px;
    color: #627382
    margin-bottom: 40px;
    max-width: 600px;
    margin: 0 auto 40px;
}

.note {
    font-size: 14px;
    color: #627382;
    margin-top: 20px;
}

.footer {
    background-color: #001931;
    color: white;
    padding: 60px 0 30px 0;
    margin-top: 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-logo img {
    height: 50px;
}

.social-links {
    align-items: right;
}

.social-links p {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.icons img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #ffffff33;
    margin-bottom: 30px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    color: #fafafa;
    margin: 0;
}